<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-offset-1">
        <img src="/assets/images/footer-logo.png" alt="Kuhrefysio">
      </div>
      <div class="col-sm-3">
        <ul>
          <li>Kuhrefysio</li>
          <li>{{settings.streetname}}</li>
          <li>{{settings.zipcode}} {{settings.city}}</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>Åbningstider</li>
          <li *ngFor="let opening of settings.opening_hours">{{opening.days}} <span>{{opening.hours}}</span></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>Kontakt</li>
          <li>{{settings.phone}}</li>
          <li>{{settings.email}}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
