@import "../main";

section {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 12px;

  span {
    img {
      margin-left: 2px;
    }
  }

  a {
    margin-left: 20px;
    color: $main-text-color;

    &#topnav-en {
      img {
        margin-left: 2px;
      }
    }
  }
}
