@import "../main";

nav {
  width: 100%;

  ul {
    list-style: none;
    padding-left: 0;
    
    li {
      width: 100%;
      line-height: 40px;

      a {
        color: #555555;
        display: block;
        border-bottom: 1px solid #e5e5e5;
        text-decoration: none;

        &:hover, &.active {
          color: $brand-color;
          text-decoration: none;
        }
      }

      li {
        a {
          padding-left: 15px;
        }
      }
    }
  }
}
