<section>
  <div class="container">
    <div class="row">
      <div class="employee-list">
        <div class="employee" *ngFor="let employee of employees">
          <img [src]="employee.employee_image.url" alt="">
          <div class="desc">
            <div class="title">{{employee.employee_name}}</div>
            <div class="text" [innerHtml]="employee.employee_description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
