@import "../main";

section {
  text-align: center;
  .box {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    max-width: 100%;
    height: 320px;
    background: white;
    position: relative;
    margin: 0 30px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, -21.9), 0 2px 19px 0 rgba(0, 0, 0, 0.17);

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }

    .link {
      background: #f5f5f5;
      width: 100%;
      height: 70px;
      line-height: 70px;
      position: absolute;
      bottom: 0;
      left: 0;

      a {
        font-size: 14px;
        color: $main-text-color;
        font-weight: 700;
      }
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 40px;
      transform: translateX(-50%);
    }

    .content {
      margin-top: 140px;
      .title {
        color: $brand-color;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 5px;
      }

      ul {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding: 0 40px;
        list-style: none;

        &.left-right {
          li {
            @extend %clearfix;
            text-align: left;

            span {
              float: right;
            }
          }

        }
      }
    }
  }
}
