<page-splash *ngIf="page.acf.splash_title" [title]="page.acf.splash_title" [content]="page.acf.splash_text"></page-splash>
<text-section *ngIf="page.acf.content_title" [title]="page.acf.content_title" [content]="page.acf.content_text" [noTitle]="page.acf.vis_titel"></text-section>
<treatment-list *ngIf="page.acf.behandlinger" [treatments]="page.acf.behandlinger"></treatment-list>
<cta-btn></cta-btn>
