@import "../main";

.sebm-google-map-container {
  height: 415px;
  position: relative;
  width: 100%;
  background-color: rgba(158, 208, 152, 0.9);
}

ul {
  list-style: none;
}

#cd-google-map {
  position: relative;

  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(158, 208, 152, 0.9);
    color: $main-text-color;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}

#cd-zoom-in, #cd-zoom-out {
  position: absolute;
  left: 0;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(158, 208, 152, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("/assets/images/cd-icon-controller.svg");
}

#cd-zoom-in {
  top: 0;
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

#cd-zoom-out {
  top: 46px;
  background-position: 50% -32px;
}


.title {
  color: #9ed098;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.info {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
