<section>
  <div class="container">
    <div class="row">
      <a [routerLink]="['/']" id="logo">
        <img src="/assets/images/kuhrefysio-logo.png" alt="Kuhrefysio">
      </a>

      <nav>
        <ul *ngIf="menu">
          <li *ngFor="let item of menu">
            <a *ngIf="item.object != 'custom'" [routerLink]="[item.url]" [routerLinkActive]="['active']" [ngClass]="item.classes">{{item.title}}</a>
            <a *ngIf="item.object == 'custom'" [href]="[item.url]" [target]="item.target" [ngClass]="item.classes">{{item.title}}</a>
            <ul *ngIf="item.children">
              <li *ngFor="let child of item.children">
                <a *ngIf="item.object != 'custom'" [routerLink]="[child.url]" [routerLinkActive]="['active']" [ngClass]="child.classes" >{{child.title}}</a>
                <a *ngIf="child.object == 'custom'" [href]="[child.url]" [target]="child.target" [ngClass]="child.classes">{{child.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="mobile-menu-toggler-wrapper">
        <div class="mobile-menu-toggler" [ngClass]="{open: mobileNavOpen}" (click)="mobileNavOpen = !mobileNavOpen">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isThisBrowser">
      <mobile-menu [menu]="menu" [(open)]="mobileNavOpen"></mobile-menu>
    </div>
  </div>
</section>
