<frontpage-splash *ngIf="settings" [title]="page.acf.splash_title" [phone]="phone"></frontpage-splash>
<text-section [title]="page.acf.content_title" [content]="page.acf.content_text"></text-section>
<general-info-boxes *ngIf="settings" [settings]="settings"></general-info-boxes>
<image-grid [images]="imageGrid"></image-grid>
