<page-splash *ngIf="page.acf" [title]="page.acf.splash_title" [content]="page.acf.splash_text"></page-splash>
<section *ngIf="page.acf.content_blocks">
  <div class="block" *ngFor="let block of page.acf.content_blocks">
    <image-no-grid *ngIf="block.acf_fc_layout == 'image_no_grid'" [image]="block.image"></image-no-grid>
    <text-section *ngIf="block.acf_fc_layout == 'text_section'" [title]="block.content_title" [content]="block.content_text"></text-section>
    <cta-image *ngIf="block.acf_fc_layout == 'cta_image'" [image]="block.image"></cta-image>
    <treatment-list *ngIf="block.acf_fc_layout == 'treatment_list'" [treatments]="block.treatment"></treatment-list>
    <employee-list *ngIf="block.acf_fc_layout == 'employee_list'" [employees]="block.employees"></employee-list>
  </div>
</section>
