@import "../main";

section {
  width: 100%;
  max-width: 750px;
  margin: auto;
  margin-bottom: 30px;

  .treatment-list {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .treatment {
      width: calc(50% - 15px);
      height: 50px;
      line-height: 50px;
      background: white;
      margin-bottom: 20px;
      box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.17);
      transition: box-shadow 0.4s;

      &:hover {
        box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.37);
      }

      @media (max-width: $mobile) {
        width: 100%;
      }

      font-size: 16px;
      color: $main-text-color;

      span {
        padding-left: 20px;
      }

      a {
        padding-left: 20px;
        display: block;
        width: 100%;
        height: 100%;
        color: $brand-color;
      }

    }
  }
}
