<page-splash [title]="page.acf.splash_title" [content]="page.acf.splash_text"></page-splash>
<text-section [title]="page.acf.price_section_title" [content]="page.acf.price_section_content"></text-section>
<price-list-section [priceTables]="page.acf.price_tables" [content]="page.acf.price_section_secondary_content"></price-list-section>
<text-section [title]="page.acf.content_title" [content]="page.acf.content_text" textAlign="left"></text-section>
<cta-btn></cta-btn>
