<section class="text-section">
  <div class="container">
    <div class="row">
      <h2 *ngIf="!noTitle && title" class="title">{{title}}</h2>
      <div *ngIf="!noTitle && title"  class="sep"></div>
      <div class="content {{textAlign}}" [innerHTML]="content"></div>
    </div>
  </div>
</section>
