<section>
  <div class="container">
    <div class="row">
      <div class="price-list-wrapper">
        <div *ngFor="let priceTable of priceTables" class="price-card">
          <h3>{{priceTable.table_name}}</h3>

          <ul>
            <li *ngFor="let price of priceTable.prices">{{price.price_label}} <span>{{price.price_amount}}</span></li>
          </ul>

          <p>{{priceTable.table_message}}</p>
        </div>

      </div>

      <div class="content">
      <div [innerHtml]="content"></div>

        <a class="btn" [routerLink]="['/book-nu']">Book online nu</a>
      </div>
    </div>
  </div>
</section>
